In [0]:
print("welcome to c")

welcome to c

In [0]:
x=5489456489748
print(x)

5489456489748

#markdown
##markdown
###markdown
####markdown
###insert a image

### fundamental datatypes
1. int

In [0]:
a = 10
b = 12.05
c  = 5+5j
print(type(a),type(b),type(c))

<class 'int'> <class 'float'> <class 'complex'>

In [0]:
c = complex(3,4)
print(c)

(3+4j)

In [0]:
c1 = 3+5j
c2 = 6+7j
print(c1+c2)
print(c1-c2)
print(c1*c2)

(9+12j)
(-3-2j)
(-17+51j)

In [0]:
## Boolean
a=10
b=20
a>b

False

In [0]:
s1="abc"
s2="xyz"
print(type(s1),type(s2))

<class 'str'> <class 'str'>

In [0]:
s1="100"
print(type(s1))
a=int(s1)
print(type(a))

f=1.5
a1=int(f)
print(type(a1))
print(a1)

<class 'str'>
<class 'int'>
<class 'int'>
1

In [0]:
a1=1234
print(len(str(a1)))

4

In [0]:
a1="1234"
print(len(a1))

4

### operators 
1. arthematic operators---> +,-,*,%,/,//,**
2. logical operatiors----> and,or,not
3. relational operators ---> <,>,<=,>=,==,!=
4. membership operators ---> in, not in

In [0]:
n1=12
n2=21
print(n1+n2)
print(n1-n2)
print(n1*n2)
print(n1%n2)
print(n1/n2)
print(n1//n2)
print(n1**n2)

33
-9
252
12
0.5714285714285714
0
46005119909369701466112

In [0]:
# Relational operators
print(n1==n2)
print(n1!=n2)
print(n1<n2)
print(n1>n2)

False
True
True
False

In [0]:
# logical operators
print(n1>=10 and n1<=20)
print(n1>=10 or n1<=20)
print(not n1)

True
True
False

# problems on relational operators
take two numbers
        >,<,==,!=,<=,>=

In [0]:
a=input("enter the value of a")
b=input("enter the value of b")
print()
c=a>b
d=a<b
e=a==b
f=a!=b
g=a<=b
h=a>=b
print(c,d,e,f,g,h)

enter the value of a10
enter the value of b20

False True False True True False

#membership operators
## in -- true if the value is found in the sequence
## not in --- true if the value is not found in the sequencce

In [0]:
f=[1,2,3,4]
print(1 in f)
print(5 in f)
print(6 not in f)
print(3 not in f)

True
False
True
False

## conditional statements
1.if
2.else
3.elif
## syntax:
##### if condition:
> statements<br>
##### else:
> statements

## To change even or odd

In [0]:
 n=int(input("enter a value"))
if n%2 == 0:
  print("even")
else:
  print("odd")

enter a value10
even

## To check given number is multiple of 3 and 5

In [0]:
n=int(input("enter a value"))
if n%3==0 and n%5==0:
  print("yes")
else:
  print("no")

enter a value27
no

In [0]:
n=int(input("enter a value"))
if n%3==0 or n%5==0:
  print("yes")
else:
  print("no")

enter a value27
yes

## Check given number is positive , negative or zero

In [0]:
n=int(input("enter a value"))
if n>0:
  print("positive")
elif n<0:
  print("negative")
else:
  print("Zero")

enter a value0
Zero

## Check the input is leap year or not

In [0]:
year=int(input("year"))
if year % 400 == 0 or ( year % 100 != 0 and year % 4 ==0):
  print("Leap yr")
else:
  print("not")

year2100
not

## While loop

In [0]:
n = int(input("enter a number"))
i=1
while i<= n:
  print(i,end=" ")
  i=i+1

enter a number7
1 2 3 4 5 6 7

# read a number a input
## Output should be sum of even no's fron 1 to N

In [0]:
n=int(input("enter a number:  "))
i =1
s=0
while i<=n:
  if i%2==0:
    s=s+i
  i=i+1
print(s)

enter a number:  10
30