# Print a Number
# Print the even digit sum from the number

In [4]:
# Input : 1234
# Output : 6(2+4)
def evenDigitsum(n):
  s=0
  while n!=0:
    r=n%10
    if r%2==0:
       s = s+r
    n=n//10
  return s
evenDigitsum(1234)

6

# Square of a Number

In [5]:
def square(x):
  print(x*x)
print(square(4))

16
None

In [10]:
def square(x):
  return x*x
square(3)

9

In [11]:
def cube(x):
  print(x*x*x)
print(cube(2))

8
None

In [12]:
def cube(x):
  return x*x*x
cube(2)

8

In [17]:
def multiply(x,y):
  print("value of x=",x)
  print("value of y=",y)
  return(x*y)
print(multiply(x=4,y=2))

value of x= 4
value of y= 2
8

# Swap values

In [20]:
def swap(x,y):
    temp=x
    x=y
    y=temp
    return x,y
swap(2,3)

(3, 2)

# Largest digit of the given number

In [27]:
# input : 19535
# Output : 9 
def largeDigit(n):
    large=0
    while n!=0:
      r=n%10
      if large < r :
          large = r
      n=n//10
    return large
largeDigit(19535)

9

# For Loop
##### syntax 1:
for i in range (start,stop,step):
> statements
##### syntax 2:
for i in Iterableobject:
> statements

In [29]:
# Function to print the numbers btw two limits
def printseries(lb,ub):
    for x in range(lb,ub+1):
        print(x,end=' ')
    return
printseries(1,10)

1 2 3 4 5 6 7 8 9 10

# Python Collections (Arrays)
There are four collection data types in the Python programming language:

##List is a collection which is ordered and changeable. Allows duplicate members.
##Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
##Set is a collection which is unordered and unindexed. No duplicate members.
##Dictionary is a collection which is unordered, changeable and indexed. No duplicate members.

## List
- one of the data structure in python
- Data structure means to store,sort and search Options
- its one common data steucture in python , the items of lists seperated by comma and enclosed in square brackets [ ]
### Examples 
- List1 = [1,2,3,4]
- List2 = ["Gitam",1,2]

In [42]:
li=[1,8,16,9,2]
print(li)
print(li[0])
print(li[1])
print(li[-5])
print(li[4])
print(li[1:])
print(li[4:])
print(li[3:])
print(li[1:4])
print(li[-4:-1])

[1, 8, 16, 9, 2]
1
8
1
2
[8, 16, 9, 2]
[2]
[9, 2]
[8, 16, 9]
[8, 16, 9]

In [44]:
# Update List
li=['gitam',1234,'hyd']
print(li)
li[1]=456
print(li)

['gitam', 1234, 'hyd']
['gitam', 456, 'hyd']

In [49]:
# Delete a value from list
li=['gitam',1234,2018,2019,'hyd']
print(li)
del li[2]
print(li)

['gitam', 1234, 2018, 2019, 'hyd']
['gitam', 1234, 2019, 'hyd']

In [50]:
# Basic list operations
li=[1,2,3,4]
## length of the string
print(len(li))

4